# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
.env.*
*.log
*.db
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.sock
docker/*.log
docker/tmp/
docker/postgres/data/

# Spark
metastore_db/
derby.log
spark-warehouse/
*.crc
*.parquet.crc
logs/

# Test / Coverage
.coverage
htmlcov/
pytest_cache/
.tox/
nosetests.xml
junit.xml

# GitHub workflows
.github/workflows/*.tmp

# Build
build/
dist/

# Misc
*.bak
*.tmp
